@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*<-------- EMPIEZA NAVBAR --------->*/

body{
	font-family: 'Source Sans Pro', sans-serif;
}
a:hover, a:focus, .info h3 a:hover, .bordered .info h4 a:hover, .icon i.icn, .meta a:hover, .meta li.categories:hover::before, .more:hover, .navbar.basic .nav > li > a:hover, .navbar.basic .nav > li > a:focus, .navbar.basic .nav .open > a, .navbar.basic .nav .open > a:hover, .navbar.basic .nav .open > a:focus, .navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover, .navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active, .navbar-header .info a:hover, .nav > li > a:hover, .owl-carousel:hover .owl-next:hover, .owl-carousel:hover .owl-prev:hover, .panel-title > a:hover, #scrollUp:hover, .sidemeta .format-wrapper a, .tabs-side .tab.active a, .tabs-top .tab.active a, .text-center .panel-title > a:hover span::after, ul.arrowed li::before, ul.circled li::before, .yamm .yamm-content a:hover {
    color: #1abb9c;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>li>a:hover, .pagination>li>a:focus {
    background-color: #17a78b;
}


.megamenu-li{
	position: static;
}

#header-navbar .dropdown-menu .megamenu{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
}

.top-navbar{
	background: #f5f7fa;
	border-bottom: 1px solid #e6e9ed;
	height: 40px;
}

.top-navbar  li, a{
	font-size: 12px;
	color: #506a85; 
}

.top-navbar .mail{
	padding-right: 20px;
	margin: 0;
}

.top-navbar .icons .nav-link{
	font-size: 12px;
	color: #506a85;
	height: 30px;
	width: 30px;
}

.top-navbar .contact i{
	padding-right: 5px;
	padding-left: 0; 
}

.contact .navbar-expand-lg .navbar-nav .nav-link{
	padding-right: 0; 
	padding-left: 0;
}

#header-navbar{
	padding: 25px;
	font-weight: bold;
}

#header-navbar .dropdown .nav-link{
	padding: 20px;
	margin-left: auto;
	font-size: 15px;
	position: relative;
	display: block;
	border-bottom: -1px;
	z-index: 2;

}

#header-navbar .navbar-nav .dropdown.open > .nav-item .dropdown-menu{
	margin-top: 0px;
	margin-left: 0px;

}

#header-navbar .navbar-nav .nav-item .dropdown-menu{
	margin-top: -10px;
	background: #f5f7fa;
	border: 1px solid #e6e9ed;
	border-bottom-color: #ced2d6;
	border-bottom-width: 2px;
	border-radius: 3px;
	box-shadow: 0 15px 15px #000;
	width: 210px;
	padding: 0;
	margin: 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#header-navbar .navbar-nav  .nav-item .nav-link:hover{
border-style: solid;
}

#header-navbar .navbar-nav  .nav-item .nav-link {
	padding: 15px 20px;
	border: 1px solid #e6e9ed;
	border-bottom: 0;
	border-style: hidden;
	z-index: 2;
	bottom: -1px;
	line-height: 20px;
}

.nav-item .dropdown-item{
	font-weight: bold;
	font-size: 14px;
	padding: 13px 20px;
	border-bottom: 1px solid #e6e9ed;
}

.navbar{
	border-bottom: 1px solid #e6e9ed;
	padding: 0;
}

.navbar-brand{
	padding: 0;
	margin-right: 0;
}

.navbar-brand img{
	padding: 0;
	margin-right: 0;
	height: 40px;
	width: auto;
	vertical-align: middle;
}

.navbar .container{
	padding-right: 0;
	padding-left: 0;
}

#search{
	list-style: none;
}

.nav-item:hover{
	 background-color: #f5f7fa;
}

.nav-item a:hover{
	 color: #00bc9c;
}


.nav-item .dropdown-item:hover{
	 color: #ffffff;
	 background-color: #00bc9c;
}
/*<-------- EMPIEZA BANNER --------->*/

body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 400;
}

h2, h3 {
	color: #506a85;
}
p {
	color: #73879c;
}
.wp1,
.wp2,
.wp6,
{
	visibility: hidden;
}
.delay-05s {
	-webkit-animation-delay: 0.5s;
		 -o-animation-delay: 0.5s;
			animation-delay: 0.5s;
}

.delay-1s {
	-webkit-animation-delay: 1s;
		 -o-animation-delay: 1s;
			animation-delay: 1s;
}

.boton{
	 background-color: #00d13e;
}
.banner {
	padding: 56px 0 24px;
}


.banner h2,
.banner .icon {
	text-align: center;
}
.banner p,
.banner h3,{
	  text-align: left;
}
.banner h2 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 16px 0;
}


.banner h2 {
	font-size: 22px;
}

.banner h3 {
	font-size: 18px;
}

.banner .item {
	margin-bottom: 32px;
}

.banner .intro {
	margin-bottom: 48px;
}

.banner .icon {
	margin-bottom: 16px;
}

.banner .fa {
	color: #00bc9c;
	font-size: 24px;
}
.banner {
		padding: 128px 0 96px;
	}

	.banner h2 {
		font-size: 44px;
		margin-bottom: 32px;
	}

	.banner h3 {
		font-size: 26px;
	}

	.banner p {
		font-size: 16px;
	}

	.banner h3,
	.banner p,
	.banner .icon {
		text-align: left;
	}

	.banner .intro {
		margin-bottom: 64px;
	}

	.banner .intro p {
		font-size: 22px;
		text-align: center;
		width: 758px;
		margin: 0 auto;
	}

	.banner .fa {
		font-size: 32px;
	}
.banner .fa {
		font-size: 42px;
	}

/*<-------- EMPIEZA GET IN TOUCH--------->*/
.get-in-touch {
	padding: 56px 0;
}

.get-in-touch-wrap h2 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin: 0 0 16px 0;
}

.btn-getintouch {
	background-color: #00bc9c;
	border-bottom: 2px solid #00a085;
	color: #fff;
	display: inline-block;
	font: 700 16px/64px "Source Sans Pro", Arial, sans-serif;
	height: 64px;
	letter-spacing: 1px;
	padding: 0 32px;
	margin-top: 16px;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	-webkit-transition: all 0.3s linear;
		 -o-transition: all 0.3s linear;
			transition: all 0.3s linear;
}

.btn-getintouch:hover {
	color: #fff;
	background-color: #17a78b;
	border-bottom: 2px solid #148e76;
	text-decoration: none;
}
.get-in-touch {
		padding: 128px 0;
	}

	.get-in-touch-wrap h2 {
		font-size: 44px;
		margin-bottom: 32px;
	}

	.get-in-touch-wrap p {
		font-size: 22px;
		width: 770px;
		margin: 0 auto;
	}

	.btn-getintouch {
		font: 700 18px/64px "Source Sans Pro", Arial, sans-serif;
		letter-spacing: 1px;
		padding: 0 64px;
		margin-top: 48px;
	}
.btn-back-to-top {
		left: auto;
		top: 50%;
		right: 15px;
		-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
	}
/*<-------- EMPIEZA FOOTER --------->*/

.footer-top{
	background: #2f4052;
}

.footer-bottom{
	background: #283645;
}

.footer-top p, a, li{
	color: #a3b1bf;
}

.footer-top ul{
	padding-left: 0;
	list-style: none;
	position: relative;
}

.footer-top h4{
	color: #fff;
}

footer .container .footer-con{
	padding-top: 45px;
	padding-bottom: 35px;
}

.container {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}

footer{
	font-size: 14px;
	line-height: 22px;
	position: relative;
}

footer h4{
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 150%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top: 0;
	letter-spacing: 0.4px;
}

footer img{
	height: auto;
	max-height: 100%;
	margin-bottom: 20px;
	vertical-align: middle;
}

footer p{
	margin-bottom: 15px;
	margin-top: 0;
}

footer .row .footer-col{
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

p {
	marrgin-botton
}

.footer-col{
	padding-top: 45px;
	padding-bottom: 35px;
}

.footer-menu li{
	display: inline;
	padding-left: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-bottom .container.footer-col{
	padding-top: 30px;
	padding-bottom: 30px;
}

.float-right{
	float: right;
}

ul{
	position: relative;
}

.thumbs.gap-xs .thumb{
	padding: 0 0 5px 5px;
}

.thumbs.gap-xs{
	margin-left: -5px;
	margin-right: 0;
}

.col-6{
	max-width: 50%;
	flex: 0 0 50%;
}

figure{
	margin: 0;
	padding:  0;
}

figure img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
	margin: 0;
	padding: 0;
}

i.contact{
	margin-right: 5px;
	width: auto;
	height: auto;
	line-height: 18px;
}

footer .container > .row{
	margin-left: -25px;
	margin-right: -25px;
}

.footer-bottom a p{
	padding: 0:
	margin: 0;
	color: #707e8c;
}

.float-left {
	float: left !important;
}

.footer-menu li{
	display: inline-block;
	content: "&#x2022;";
	padding-right: 12px;
}

.subscribe{
	position: relative;
}

footer .subscribe .btn-submit{
	width: 88px;
	height: 30px;
	font-size: 13px;
}

.subscribe .btn-submit{
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin-top: 5px;
	margin-right: 5px;
	color: #fff !important;
	line-height: 1;
}

.subscribe input[type="email"] {
    background: rgba(255,255,255,0.15);
    padding-right: 100px;
    border-radius: 3px;
    border: 0;
    color: #FFF !important;
}

input, textarea, .form-inline .form-control, .navbar-form .form-control {
    width: 100%;
}

select, textarea, textarea.form-control, input[type="text"], input[type="email"] {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #73879c;
    resize: none;
    vertical-align: middle;
    box-shadow: none;
    background-color: #f5f5f5;
    border: 1px solid #e6e9ed;
    border-radius: 0;
}

.btn{
	color: #FFF !important;
	background: #1abb9c;
	background-color: rgb(26, 187, 156);
	padding: 11px 20px 13px;
	margin: 15px 0;
	margin-top: 15px;
	margin-right: 0px;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: .02em;
	text-shadow: none;
	border: 0;
	border-radius: 3px;;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15)
}

.txt-btn {
    font-size: 105%;
    font-weight: 700;
}

a {
    transition: all .2s ease-out;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
.footer-bottom p.float-left, .footer-bottom ul.float-right {
    float: none!important;
    text-align: center;
}
}

@media (max-width: 767px) {
.footer-bottom p {
    margin-bottom: 20px;
}
}

@media (max-width: 767px) {
footer .row .footer-col {
    padding-left: 20px;
    padding-right: 20px;
}
}

@media (max-width: 767px) {
footer .footer-col {
    padding-top: 35px;
    padding-bottom: 25px;
}
}

@media (max-width: 767px) {
.navbar .container, .container {
    padding-right: 20px;
    padding-left: 20px;
}
}

@media (max-width: 767px) {
footer .container>.row {
    margin-left: -20px;
    margin-right: -20px;
}
}

@media (max-width: 767px) {
.row {
    overflow: hidden;
}
}

/*<-------- EMPIEZA LATEST WORKS --------->*/

.seccion-works{background: #f2f5f7; font-family: Lato;}
/* HEADER */
.head_works h3{font-weight: 700; text-align: center; color: #506a85; font-size: 44px;}
.head_works p{font-weight: 400; text-align: center; color: #506a85; font-size: 22px;}
.bajo{padding-top: 80px;}
.inner {
	padding-top: 120px;
	padding-bottom: 120px;
}

/* IMAGENES GRANDES*/
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #00bc9c;
}

.contain {
	position: relative;
	width: 100%;
	height: 100%;
}

.contain:hover .overlay {
	opacity: .90;
}
.image {
	display: block;
	width: 100%;
	height: 100%;
}

.text {
	color: white;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
/*PIE DE IMAGEN*/
.bordered{
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: rgb(230, 233, 237);
	border-image: initial;
	border-radius: 3px;
	padding: 25px;
	width: 100%;
	vertical-align: middle;

}

.text-center{text-align: center;}
.text-center h3{font-size: 20px; color: #506a85; font-weight: 700;}
.text-center p{font-size: 15px; color: #506a85; font-weight: 700;}
.text-center h3:hover{color:#00bc9c;}

/* CAROUSEL */
.inner-bot{
	padding-top: 80px;
}
.botones{padding-bottom: 20px;
}
.carousel-indicators li {
	width: 18px;
	height: .25px;
	border-radius: 100%;
	background: #506a85;
}

.carousel-item {
	height: 220px;
}

.carousel-indicators {
	bottom: -10px;
}

.carousel-control-next, .carousel-control-prev {
	opacity: 1;
}

/*<-------- TERMINA LATEST WORKS --------->*/
